body{
    margin: 0px;
    padding: 30px;
    font-family: sans-serif;
    overflow: hidden;
    background: black;
}
canvas{
    box-shadow: -3px 2px 9px 6px gray;
    cursor: pointer;
}
.tools{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
}
.tools .color-field{
  height: 40px;  
  width: 40px;
  min-height: 40px;
  min-width: 40px;
  cursor: pointer;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid white;
  align-self: center;
  margin: 0 10px;
}
.tools .button{
    align-self: center;
    width: 100px;
    height: 40px;
    /* border: 2px solid white; */
    cursor: pointer;
    color: white;
    
    font-weight: bold;
    margin: 0 10px;
}
.button{
    border-radius: 30%;
    background-color: rgb(11, 143, 224);
    box-shadow: 8px 8px 5px rgb(134, 205, 250);
    border: none;
}
.color-picker{
    align-self: center;
    margin: 0 10px;
    height: 50px;
}
.pen-range{
    align-self: center;
    margin: 0 10px;
}